services:
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    volumes:
      - ./memos_data:/var/opt/memos
    ports:
      - "5230:5230"
    restart: always

  api:
    image: python:3.12-slim
    container_name: api-server
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      - MEMOS_URL=http://memos:5230
    env_file:
      - .env
    command: sh -c "pip install -q requests && python server/app.py"
    depends_on:
      - memos
    restart: always